<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="irstit.transport">

    <!-- &lt;!&ndash;The following section is for Qr code&ndash;&gt; -->
    <!-- <uses-permission android:name="android.permission.CAMERA"/> -->
    <!-- <uses-feature android:name="android.hardware.camera"/> -->
    <!-- <uses-feature android:name="android.hardware.camera.autofocus"/> -->
    <!-- <code class="xml plain"/><uses-feature/> -->

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <uses-feature
        android:name="android.hardware.microphone"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".AppController.AppController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Citizens.CitizenMainActivity" />
        <activity android:name=".Citizens.Account.CitizenLogin" />
        <activity android:name=".SplashScreen" />
        <activity android:name=".Citizens.Account.forgettenpasswrod.CitizenForgottenPassword" />
        <activity android:name=".Citizens.complaint.Record_Voice" />
        <activity android:name=".Drivers.DriverMainActivityTwo" />
        <activity android:name=".ViewPager.ViewInfo.ViewInfo" />
        <activity android:name=".Citizens.Account.CitizensAccountActivity" />
        <activity android:name=".ViewPager.MainPager" />
        <activity android:name=".MainPage"></activity>
        <activity android:name=".Citizens.complaint.ComplaintTrack" />
        <activity android:name=".Drivers.FoundedObjectActivity" />
        <activity
            android:name=".Citizens.complaint.Complaint"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".LetterRate" />
        <activity android:name=".News" />
        <activity android:name=".Citizens.Account.forgettenpasswrod.CitizensAccountActivityForgotton">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->


            <!-- <action android:name="android.intent.action.VIEW" /> -->
            <!-- <category android:name="android.intent.category.DEFAULT" /> -->
            <!-- <category android:name="android.intent.category.BROWSABLE" /> -->
            <!-- &lt;!&ndash; Accepts URIs that begin with "http://www.example.com/gizmos” &ndash;&gt; -->
            <!-- <data android:scheme="http" -->
            <!-- android:host="www.stit.ir" -->
            <!-- android:pathPrefix="/gizmos" /> -->
            <!-- &lt;!&ndash; note that the leading "/" is required for pathPrefix&ndash;&gt; -->
            <!-- &lt;!&ndash; Accepts URIs that begin with "example://gizmos” &ndash;&gt; -->
            <!-- <data android:scheme="example" -->
            <!-- android:host="sajjad" /> -->


            <!-- </intent-filter> -->
        </activity>
        <activity android:name=".ConnectToUs" />
        <activity android:name=".AboutUs" />
        <activity android:name=".Citizens.SearchObject" />
        <activity android:name=".Drivers.DriversMainActivity" />
        <activity android:name=".Citizens.RegisterObject" />
        <activity android:name=".Citizens.Criticals_Suggestion" />
        <activity android:name=".Drivers.Login.ActivityLogin" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCzAw8ST-YguIH4G2RrTJ_mGN4SlYgWk6g" />

        <activity android:name=".VoiceRecoeder"></activity>
    </application>

</manifest>